<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SearchDrive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script src="/js/main.js" type="module"></script>

    <style>
        .innerCenter{
            text-align: center;
        }
        .boxCenter{

        }
    </style>
</head>
<body>

<h1>Search Drive</h1>

<input class="input" type="text" placeholder="Text input" id="search-box"/>
<button class="button" id="search-button">Click</button>

</body>
</html>
